* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    background-color: #D8EFD3;
}

h1 {
    max-width: 940px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0,
}

.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-principal {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-prev-next {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-prev-next button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 25px;
}

